@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url("/font/Pretendard-Regular.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url("/font/Pretendard-SemiBold.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: url("/font/Pretendard-Bold.subset.woff2") format(woff2);
}

/* 기본 */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}
html {
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;

    /* color: #003ecb;
    color: #0057ff;
    color: #39f; */
}
body{
    background: #f3f5f7;
    width: 100%;
    color: #333;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1;
}
li, ul {
    list-style: none;
}
a, img {
    display: block;
}
/* img {
    border: 0;
    vertical-align: top;
} */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 100%;
}
button, input, table, td, th {
    font-size: 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
button {
    overflow: visible;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    vertical-align: middle;
}
a, a:link, a:visited {
    color: #666;
    text-decoration: none;
}
a, a:active, a:focus, a:hover, a:link, a:visited {
    color: #333;
    text-decoration: none;
}
address, caption, em {
    font-weight: 400;
    font-style: normal;
}

#wrap {
    position: relative;
    min-width: 1270px;
    margin: 0 auto;
    background: #f2f4f7;
}
.inner {
    width: 1260px;
    margin: 0 auto;
}

    /* 로그인 */
/* .start-section {
    margin-top: 36px;
} */
.start-section .border-round-section, .start-section .border-round-section .title-box {
    display: flex;
    align-items: center;
}
.start-section .border-round-section {
    height: 140px;
    /* border: none; */
    justify-content: center;
    gap: 24px;
}
.border-round-section {
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .02);
}
.start-section .border-round-section .title-box {
    font-size: 26px;
    letter-spacing: -.5px;
    /* line-height: 30px; */
}
/* .start-section .border-round-section .title-box:before {
    display: block;
    width: 66px;
    height: 74px;
    margin-right: 24px;
    content: "";
    background-image: url("https://i.jobkorea.kr/content/images/corporate/main_v2/icon_jobko_offline.png");
    background-size: 100%;
    background-position: 50%;
} */
.start-section .border-round-section .button-box, .start-section .border-round-section .button-box a {
    display: flex;
    align-items: center;
}
.start-section .border-round-section .button-box a:hover {
    color: #006E3F;
    border-color: #006E3F;
}
.start-section .border-round-section .button-box a.blue {
    background: #006E3F;
    color: #fff;
    border-color: #006E3F;
}
.start-section .border-round-section .button-box a {
    width: 120px;
    height: 40px;
    border: 1px solid #d2d2d2;
    font-weight: 600;
    color: #222;
    line-height: 25px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 0;
}
.start-section .border-round-section .button-box a:nth-child(n+2) {
    margin-left: 8px;
}

    /* 솔루션(서비스 소개) */
.solution-section {
    margin-top: 40px;
}
.solution-section .inner {
    background: url("/images/corporate/background_solution_green.png") 104px 61px no-repeat;;
}
.solution-section .title-box {
    float: left;
    padding: 22px 0 0 60px;
    line-height: 42px;
    font-size: 32px;
    letter-spacing: -1px;
}
.solution-section .start-list {
    float: right;
    width: 940px;
}
.solution-section .start-list li:first-child {
    width: 100%;
}
.solution-section .start-list li {
    position: relative;
    float: left;
    width: 300px;
    height: 280px;
    background: #fff;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.solution-section .start-list li:first-child .contents-box {
    padding: 33px 0 27px 28px;
    background-image: url("/images/corporate/purple.png");
    background-size: cover;
    background-position: bottom;
}
.solution-section .start-list li .contents-box {
    position: relative;
    height: 280px;
    background: rgba(0, 0, 0, 0) no-repeat 24px 30px;
}
/* .solution-section .start-list li:first-child .contents-box .logo { */
    /* display: block; */
    /* width: 205px;
    height: 28px;
    background-image: url("/images/logo.png");
    background-size: auto 38px;
    background-position: top -7px left;
    background-repeat: no-repeat;
} */
.solution-section .start-list li:first-child .contents-box .texts {
    margin-top: 53px;
}
.solution-section .start-list li:first-child .contents-box .texts h2 {
    color: #333;
    line-height: 30px;
    font-size: 22px;
    letter-spacing: -.5px;
}
.solution-section .start-list li:first-child .contents-box .texts h2 span {
    font-weight: 400;
}
.solution-section .start-list li:first-child .contents-box .texts>p {
    margin-top: 12px;
    color: #333;
    line-height: 20px;
}
/* .solution-section .start-list li:first-child .contents-box .texts>p a {
    display: inline-flex;
    align-items: center;
}
.solution-section .start-list li:first-child .contents-box .texts>p a span {
    color: #6643ff;
    padding-left: 8px;
} */
/* .solution-section .start-list li:first-child .contents-box .texts>p a .arrow {
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='17' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.269 3.652a.5.5 0 01.707-.011l4 3.879a.5.5 0 01.01.707l-4 4.121a.5.5 0 11-.717-.696L10.92 7.89 7.28 4.359a.5.5 0 01-.011-.707z' fill='%236643FF'/%3E%3C/svg%3E");
    background-position: -2px 50%;
} */
/* .solution-section .start-list li:first-child .contents-box .source {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: rgba(34, 34, 34, .24);
    font-size: 12px;
} */
.solution-section .start-list li:nth-child(n+2) {
    margin-top: 20px;
}
.solution-section .start-list li:nth-child(2) .contents-box {
    background-image: url("/images/corporate/icon_start_1_green.png");
    background-size: 55px;
}
.solution-section .start-list li .text-box {
    position: absolute;
    left: 24px;
    bottom: 24px;
}
.solution-section .start-list li .text-box .title {
    font-size: 20px;
    letter-spacing: -.5px;
    line-height: 30px;
}
.solution-section .start-list li .text-box .description {
    margin-top: 11px;
    line-height: 20px;
}
.solution-section .start-list li:nth-child(3) {
    width: 620px;
    background: #fff no-repeat 100% 100%;
    background-image: url("/images/corporate/icon_start_5.png");
    background-size: 74%;
    background-position: 182px -1px;
}
.solution-section .start-list li:nth-child(n+3) {
    margin-top: 20px;
    margin-left: 20px;
}

.solution-section .start-list li:nth-child(3) .text-box {
    bottom: 82px;
}

.solution-section .start-list li:nth-child(n+3) {
    /* margin-top: 20px; */
    margin-left: 20px;
}
.solution-section .start-list li:nth-child(4) {
    margin-left: 0;
}
.solution-section .start-list li:nth-child(4) .contents-box {
    background-image: url("/images/corporate/icon_start_2_green.png");
    background-size: 55px;
}
.solution-section .start-list li:nth-child(5) .contents-box {
    background-image: url("/images/corporate/icon_start_3_green.png");
    background-size: 55px;
}
.solution-section .start-list li:nth-child(6) .contents-box {
    background-image: url("/images/corporate/icon_start_4_green.png");
    background-size: 55px;
}

/* 배너 */
    /* 광고 */
.row-article {
    margin-top: 40px;
}
.col-2-section {
    float: left;
    width: 940px;
}
.event-banner-section .border-round-section {
    overflow: hidden;
    height: 80px;
    border-radius: 15px;
}
/* .ad-container a img {
    max-width: 100%;
    object-fit: contain;
} */
.col-1-small-section:nth-child(n+2) {
    margin-left: 20px;
}
.col-1-small-section {
    float: left;
    width: 300px;
}
.sub-banner-section .border-round-section a {
    height: 80px;
    padding: 16px 0 0 30px;
    background: url("/images/corporate/background_sub_banner.png");
    color: #fff;
}
.sub-banner-section .border-round-section a .description {
    line-height: 18px;
    font-size: 14px;
}
.sub-banner-section .border-round-section a .title {
    display: inline-block;
    margin-top: 4px;
    padding-right: 17px;
    background: url("/images/corporate/arrow_9x24_white.png") 100% no-repeat;
    line-height: 28px;
    font-size: 18px;
}

    /* 서비스 Q&A */
.service-section {
    margin-top: 18px;
    padding-bottom: 20px;
}
.service-section .common-h2 {
    padding-left: 15px;
    position: relative;
    display: inline-block;
}
.service-section .service-list {
    margin-top: 14px;
}
.service-section .service-list li {
    position: relative;
    float: left;
    width: calc(25% + 1px);
}
.service-section .service-list li:nth-child(n+2) {
    margin-left: -1px;
}

.service-section .service-list li:nth-child(n+5) {
    margin-top: -1px;
}
.service-section .service-list li:nth-child(4n+1) {
    width: 25%;
    margin-left: 0;
}
.service-section .service-list li button {
    display: block;
    width: 100%;
    height: 206px;
    border: 1px solid #ebebeb;
    background: #fff;
}
.service-section .service-list li:nth-child(-n+4) button {
    border-top-color: rgba(0, 0, 0, 0);
}
.service-section .service-list li:first-child button {
    border-left-color: rgba(0, 0, 0, 0);
    border-radius: 14px 0 0 0;
}
.service-section .service-list li .number {
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 700;
}
.service-section .service-list li .text {
    font-size: 16px;
    margin-top: 10px;
    line-height: 24px;
}
.service-section .service-list li:nth-child(n+4) button {
    border-bottom-color: rgba(0, 0, 0, 0);
}
.service-section .service-list li:nth-child(4) button {
    border-right-color: rgba(0, 0, 0, 0);
    border-radius: 0 14px 0 0;
}

.service-section .service-list li:nth-child(8) button {
    border-right-color: rgba(0, 0, 0, 0);
    border-radius: 0 0 14px 0;
}
.service-section .service-list li:nth-child(5) button {
    border-left-color: rgba(0, 0, 0, 0);
    border-radius: 0 0 0 14px;
}
.service-section .service-list li:hover button {
    color: #3F8F51;
    border-color: #3F8F51 !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, .0784313725);
    position: relative;
    z-index: 1;
}

/* 공지사항, FAQ, 고객센터 */
.bottom-article {
    margin-top: 60px;
    padding: 36px 0;
    background: #fff;
}
/* .col-3-section {
    width: 100%;
} */
.bottom-article .bottom-notice-section {
    float: left;
    width: 410px;
}
.common-h2, .common-h2>a {
    font-size: 18px;
    color: #1a1a1a;
    line-height: 24px;
}
.bottom-article .common-h2 a {
    float: right;
    padding: 0 12px 0 0;
    font-weight: 400;
    color: #666;
    background-image: url("/images/corporate/arrow_6x16_gray.png");
    font-size: 12px;
}
.common-h2>a {
    display: inline-block;
    padding: 0 19px 0 15px;
    background: url("/images/corporate/arrow_9x24_black.png") 100% no-repeat;
}
.bottom-article .board-list {
    margin-top: 20px;
}
.bottom-article .board-list li {
    position: relative;
    padding-left: 12px;
    line-height: 17px;
}
.bottom-article .board-list li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "·";
}
.bottom-article .board-list li .title {
    float: left;
    width: calc(100% - 80px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bottom-article .board-list li .date {
    float: right;
    width: 80px;
    color: #666;
    text-align: right;
}
.bottom-article .board-list li:nth-child(n+2) {
    margin-top: 12px;
}
.bottom-article .faq-section {
    float: left;
    width: 410px;
    margin-left: 70px;
}
.bottom-article .faq-section .board-list li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bottom-article .center-section {
    float: left;
    width: 300px;
    margin-left: 70px;
}
.bottom-article .center-section .number {
    font-size: 40px;
    letter-spacing: -1px;
    margin-top: 11px;
    font-weight: 700;
    color: #7BA882;
    line-height: 53px;
}
.bottom-article .center-section table {
    margin-top: 8px;
}
.bottom-article .center-section table th {
    width: 47px;
    padding: 6px 0;
    line-height: 17px;
    text-align: left;
}
.bottom-article .center-section table td {
    line-height: 17px;
}
.line-list li:first-child {
    padding-left: 0;
}
.line-list li {
    position: relative;
    float: left;
    padding: 0 10px;
}
/* .line-list li:last-child {
    padding-right: 0;
} */
 .line-list li:nth-child(n+2):before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background: #e6e6e6;
}

/* 모달 - 서비스 Q&A */
.common-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20000 !important;
    width: 100%;
    height: 100%;
}
.common-modal .modal-dimmed {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
.common-modal.service-modal .modal-contents {
    width: 800px;
    height: 420px;
}
.common-modal .modal-contents {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background: #fff;
    padding: 30px 35px;
}
.common-modal .close-button {
    position: absolute;
    z-index: 10;
    right: 35px;
    top: 30px;
    display: block;
    width: 32px;
    height: 32px;
    background: url("/images/corporate/icon_close.png") no-repeat 50%;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    /* box-sizing: content-box; */
}
.service-modal .swiper-container .swiper-wrapper .swiper-slide {
    width: 730px;
}
/* .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
} */
.common-modal h2 {
    font-size: 20px;
    letter-spacing: -.5px;
    color: #1a1a1a;
    line-height: 32px;
}
.common-modal.service-modal .contents {
    margin-top: 24px;
}
.common-modal.service-modal .contents .text {
    margin-top: 10px;
    line-height: 20px;
}
.common-modal.service-modal .step-list {
    padding: 14px 0 10px;
}
.common-modal.service-modal .step-list li:nth-child(n+2) {
    margin-left: 24px;
}
.common-modal.service-modal .step-list li {
    position: relative;
    float: left;
    height: 43px;
    line-height: 41px;
    padding: 0 17px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 700;
}
.common-modal.service-modal .step-list li:nth-child(n+2):before {
    position: absolute;
    left: -15.5px;
    top: 50%;
    margin-top: -8.5px;
    content: "";
    width: 6px;
    height: 17px;
    background: url("/images/corporate/arrow_6x17_black.png");
}
.common-modal.service-modal .number-list {
    margin-top: 10px;
}
.common-modal.service-modal .number-list>li {
    position: relative;
    line-height: 22px;
    padding-left: 12px;
}
.common-modal.service-modal .number-list>li:nth-child(n+2) {
    margin-top: 10px;
}
.common-modal.service-modal .number-list>li .number {
    position: absolute;
    left: 0;
    top: 0;
}
.common-modal.service-modal .number-list>li ul {
    margin-top: 10px;
}
.common-modal.service-modal .number-list>li ul li {
    line-height: 22px;
}
.common-modal.service-modal .number-list>li ul li:before {
    content: "* ";
}
.common-modal.service-modal .swiper-button-next {
    right: -77px;
}
.common-modal.service-modal .swiper-button-next, .common-modal.service-modal .swiper-button-prev {
    width: 47px;
    height: 125px;
    background: url("/images/corporate/arrow_modal_swiper.png");
    margin-top: -62.5px;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}
.common-modal.service-modal .swiper-button-prev {
    left: -77px;
    transform: scaleX(-1);
}
.common-modal.service-modal .swiper-button-next, .common-modal.service-modal .swiper-button-prev {
    width: 47px;
    height: 125px;
    background: url("/images/corporate/arrow_modal_swiper.png");
    margin-top: -62.5px;
}
.common-modal.service-modal .contents .text a {
    display: inline;
    color: #39f;
    text-decoration: underline;
}

/* 로그인 시 */

/* 기본 */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}
html {
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    background: #f3f5f7;

    width: 100%;
    color: #333;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1;
}
li, ul {
    list-style: none;
}
a, a:link, a:visited {
    color: #666;
    text-decoration: none;
}
a, a:active, a:focus, a:hover, a:link, a:visited {
    color: #333;
    text-decoration: none;
}
a, img {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 700;
}
em {
    font-style: normal;
}
fieldset, img {
    border: 0;
}

#wrap {
    position: relative;
    min-width: 1270px;
    margin: 0 auto;
    background: #f2f4f7;
}

/* 배너 */
.row-article {
    margin-top: 40px;
}
.inner {
    position: relative;
    width: 1260px;
    margin: 0 auto;
}
/* .col-3-section {
    width: 100%;
} */
/* .banner-smartfit-notice {
    height: 64px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 16px;
} */
/* .banner-smartfit-notice .smartfit-banner-link {
    display: block;
} */
.banner-smartfit-notice .smartfit-banner-link img {
    width: 100%;
    height: 100%;
}

/* 알림 */
.border-round-section {
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .02);
}
.info-section .border-round-section .contents-box.notService {
    border-color: #d2d2d2;
}
.info-section .border-round-section .contents-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 32px;
    border: 1px solid #fff;
    border-radius: 15px;
}
/* .info-section .border-round-section .contents-box .logo {
    width: 160px;
    height: 64px;
} */
/* .info-section .border-round-section .contents-box .logo img {
    margin: 0 auto;
} */
.info-section .border-round-section .contents-box .company {
    position: relative;
    margin-left: 32px;
}
.info-section .border-round-section .contents-box .company .text {
    overflow: hidden;
    /* display: inline-block; */
    max-width: 300px;
    font-weight: 700;
    line-height: 25px;
    color: #1a1a1a;
    font-size: 22px;
    letter-spacing: -.5px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.info-section .border-round-section .contents-box .line-list {
    margin-left: 28px;
}
.clear:after, .clearfix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.info-section .border-round-section .contents-box .line-list li {
    font-size: 16px;
    padding: 0 8px;
    font-weight: 700;
    color: #222;
}
.line-list>div:first-child, .line-list>li:first-child {
    padding-left: 0 !important;
}
.line-list>div:last-child, .line-list>li:last-child {
    padding-right: 0 !important;
}
.line-list li {
    position: relative;
    float: left;
    padding: 0 10px;
}
.info-section .border-round-section .contents-box .line-list li.pdt_none .title {
    padding-left: 32px;
    line-height: 42px;
}

/* .info-section .border-round-section .contents-box .line-list li a {
    display: inline-block;
    color: #b3b3b3;
    text-decoration: underline;
} */
.info-section .border-round-section .contents-box .setting-button {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    background-image: url("/images/corporate/setting-button.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

/* 공고·지원자 관리 / 신규 지원자 등 */
    /* 공고·지원자 관리 */
.col-1-large-section {
    float: left;
    width: 620px;
}
.current-section {
    margin-bottom: 20px;
}
.border-round-section {
    border-radius: 15px;
    background: #fff;
}
.current-section .current-data-wrap {
    padding: 28px 0;
}
.current-data-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.current-data-wrap .current-data {
    padding: 0 32px;
    flex: 1 0 0%;
}
.current-data h5 {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    color: #444;
    line-height: 24px;
}
.current-data ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
/* .current-section .current-data-wrap .current-data .data-none {
    font-size: 16px;
} */
.current-data ul li {
    text-align: center;
    flex: 1 0 0%;
}
.current-data ul li strong {
    font-size: 40px;
    letter-spacing: -1px;
    color: #222;
    line-height: 44px;
}
.current-data ul li.data-none span, .current-data ul li.data-none strong {
    color: #b8b8b8;
}
.current-data ul li p {
    font-size: 16px;
    margin-top: 8px;
    color: #6a6a6a;
    line-height: 24px;
    white-space: nowrap;
}
.current-data+.current-data {
    border-left: 1px solid #e8e8e8;
}
.current-data ul li.data-none span {
    line-height: 44px;
    text-decoration: underline;
}
    /*  */
.recruit-section.recruit-normal .border-round-section {
    height: 630px;
}
.recruit-section .border-round-section {
    padding: 36px 32px;
}
.data-none-box {
    display: table;
    width: 100%;
    height: 100%;
}
.data-none-box .contents-box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.recruit-section .data-none-box .contents-box .icon {
    width: 80px;
    height: 80px;

    margin: 0 auto;
    background: no-repeat 50%;
}
.recruit-section .data-none-box .contents-box .icon+.title {
    margin-top: 24px;
}
.recruit-section .data-none-box .contents-box .title {
    font-size: 18px;
    font-weight: 400;
    color: #9e9e9e;
    line-height: 26px;
}
.recruit-section .data-none-box .contents-box .text {
    font-size: 14px;
    margin-top: 8px;
    color: #9e9e9e;
}
.data-none-box .contents-box .text {
    line-height: 20px;
}
.recruit-section .data-none-box .contents-box .button-list {
    margin-top: 24px;
}
.data-none-box .contents-box .button-list {
    display: table;
    width: auto;
    margin: 21px auto 0;
}
.data-none-box .contents-box .button-list li {
    float: left;
}
.recruit-section .data-none-box .contents-box .button-list li .btn-blue {
    border: none;
    color: #fff;
    background-color: #7BA882;
}
.recruit-section .data-none-box .contents-box .button-list li a {
    display: block;
    height: 42px;
    padding: 0 24px;
    font-weight: 500;
    line-height: 42px;
    border-radius: 8px;
    font-size: 16px;
}
.col-1-large-section:nth-child(n+2) {
    margin-left: 20px;
}
        /* 진행중인 프로그램 */
.recruit-section .border-round-section {
    position: relative;
}

.data-box::-webkit-scrollbar {
    display: none;
}

.recruit-section .data-box {
    overflow: scroll;
    height: 100%;
    width: 100%;

    position: relative;
    z-index: 999;
}
.recruit-section .data-box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;

    position: relative;
}
.recruit-section .data-box ul li .list-cell {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 268px;
    height: 170px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    will-change: transform;
}
.recruit-section .data-box ul li .list-cell .list-content {
    position: relative;
    margin-top: -1px;
    padding: 16px 24px 24px;
    border-top: 1px solid rgba(0, 0, 0, .05);
}
.recruit-section .data-box ul li .list-cell .list-content .title{
    margin: 8px 0 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recruit-section .data-box ul li .list-cell .list-content .description{
    display: flex;
    align-items: center;

    position: relative;
    gap: 4px;
    margin-top: 4px;
    line-height: 22px;
    color: #222;
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recruit-section .data-box ul li .list-cell .list-content .info {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 6px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.recruit-section .data-box ul li .list-cell .list-content .info span {
    position: relative;
    /* font-size: 13px; */
    letter-spacing: 0;
    padding: 0 8px 0 0;
    line-height: 20px;
    color: #6a6a6a;
}
.recruit-section .data-box ul li .list-cell .list-content .info span:after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 10px;
    background-color: #e8e8e8;
    transform: translateY(-50%);
    content: "";
}
.recruit-section .data-box ul li .list-cell .list-content .info span+span {
    padding-left: 8px;
}
.recruit-section .data-box ul li .list-cell .list-content .info span:last-child {
    padding-right: 0;
}
.recruit-section .data-box ul li .list-cell .list-content .tagbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    gap: 4px;
    width: 236px;
    height: 22px;
    margin: 16px 0 0;
    opacity: 1;
    pointer-events: auto;
}
.recruit-section .data-box ul li .list-cell .list-content .tag {
    flex-shrink: 0;
    display: block;
    font-size: 11px;
    line-height: 22px;
    color: #6a6a6a;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 0 8px;
    white-space: nowrap;
}
/* .recruit-section .data-box ul li:hover {
    background: rgba(247, 248, 250, .5);
} */

    /* 원픽 신청 지원자 */
.recruit-section.onepick-account .border-round-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 822px;
    padding: 36px 32px 40px;
}
/* .recruit-section .border-round-section {
    padding: 36px 32px;
} */
        /* header */
.recruit-section.onepick-account .border-round-section .onepick-account-header {
    padding-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
}
.recruit-section.onepick-account .border-round-section .onepick-account-header .account-header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* .recruit-section.onepick-account .border-round-section .onepick-account-header .account-header-top .account-logo {
    width: 136px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='136' height='28' fill='none'%3E%3Cpath fill='%23003ECB' d='M47.732 14.013c0 5.11-3.354 8.666-7.757 8.666-4.402 0-7.724-3.555-7.724-8.666 0-5.11 3.322-8.698 7.724-8.698 4.403 0 7.757 3.586 7.757 8.698zm-4.513-.002c0-2.54-1.122-4.474-3.244-4.474-2.12 0-3.209 1.905-3.209 4.477s1.088 4.444 3.21 4.444c2.12 0 3.243-2.129 3.243-4.446v-.001zm20.639 8.343h-4.3v-8.946c0-3.019-1.041-3.873-2.887-3.873s-2.92.857-2.92 3.78v9.04h-4.3V5.642h4.3v1.15c.778-.803 2.208-1.477 3.988-1.477 4.34 0 6.119 2.954 6.119 7.706v9.332zm15.866-1.702c-1.485 1.3-3.69 2.03-5.742 2.03-5.138 0-8.404-3.397-8.404-8.666s3.436-8.698 7.962-8.698c4.764 0 7.52 3.936 7.52 8.698 0 .635-.01 1.08-.045 1.397H70.093c.17 2.286 2.188 3.104 3.889 3.104 1.293 0 2.381-.406 3.062-1.136l2.68 3.27zM76.5 12.196c-.137-1.492-1.09-2.984-3.199-2.984-1.7 0-3.038 1.301-3.208 2.984H76.5zm43.639 7.281c-1.55 1.89-3.42 3.205-6.48 3.205-4.384 0-7.873-3.555-7.873-8.666 0-5.11 3.394-8.698 8.066-8.698 2.969 0 4.946 1.338 6.341 3.23l-2.597 3.373c-.992-1.397-2.048-2.36-3.84-2.36-2.112 0-3.453 1.709-3.453 4.439s1.341 4.54 3.452 4.54c1.729 0 2.818-.913 3.97-2.278l2.416 3.215h-.002zm-22.093-5.451c0 4.908-2.44 8.328-6.573 8.328-1.464 0-2.738-.562-3.533-1.281v4.58L83.64 28V5.643h4.3v1.149c.827-.719 1.942-1.474 3.533-1.474 3.561 0 6.573 2.582 6.573 8.708zm-4.517-.002c0-3.377-1.166-4.487-2.884-4.487-1.368 0-2.07.568-2.705 1.382v6.19c.667.908 1.688 1.406 2.96 1.406 1.685 0 2.63-1.738 2.63-4.49v-.001zm10.536 8.33h-4.3V5.644h4.3v16.71zm-2.15-18.013a2.16 2.16 0 002.15-2.17A2.16 2.16 0 00101.915 0a2.16 2.16 0 00-2.15 2.17 2.16 2.16 0 002.15 2.171zm34.006 18.013l-6.446-8.535 6.202-8.178h-4.69l-4.775 6.305V5.64h-4.3v16.713h4.3V15.71l5.04 6.645h4.669z'/%3E%3Cpath fill='%237CDE68' d='M13.869 28c7.66 0 13.869-6.268 13.869-14s-6.21-14-13.87-14C6.21 0 0 6.268 0 14s6.21 14 13.869 14z'/%3E%3Cpath fill='%23003ECB' d='M22.215 2.817L12.479 15.68l-4.014-5.316-2.801 3.644 6.794 8.995L27.736 2.817h-5.521z'/%3E%3C/svg%3E");
} */
.recruit-section.onepick-account .border-round-section .onepick-account-header .button-regist {
    display: block;
    width: 139px;
    height: 42px;
    line-height: 42px;
    font-weight: 500;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #006e3f;

        margin-top: 15px;
    margin-left: 418px;
}
.recruit-section.onepick-account .border-round-section .onepick-account-header>h2 {
    margin-top: 14px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -.2px;
    color: #222;
}
.recruit-section.onepick-account .border-round-section .onepick-account-header>p {
    margin-top: 4px;
    font-size: 14px;
    line-height: 22px;
    color: #006E3F;
}
        /* service */
.recruit-section.onepick-account .border-round-section .onepick-account-service {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 28px;
}
.recruit-section.onepick-account .border-round-section .onepick-account-service .button-service {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #222;
    margin-left: auto;
}
.recruit-section.onepick-account .border-round-section .onepick-account-service .button-service:after {
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url("/images/corporate/account-service-button.svg");
}
.recruit-section.onepick-account .border-round-section .onepick-account-service>ul {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.recruit-section.onepick-account .border-round-section .onepick-account-service>ul li>.account-service-title {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #222;
}
.recruit-section.onepick-account .border-round-section .onepick-account-service>ul li>.account-service-title:before {
    display: block;
    content: "";
    width: 17px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url("/images/corporate/account-service-title-before.svg");
}
.recruit-section.onepick-account .border-round-section .onepick-account-service>ul li>.account-service-title>span {
    color: #006e3f;
}
.recruit-section.onepick-account .border-round-section .onepick-account-service>ul li>p {
    font-size: 14px;
    line-height: 22px;
    color: #6a6a6a;
}
/* .recruit-section.onepick-account .border-round-section .onepick-account-service:after {
    position: absolute;
    top: 61px;
    right: 9px;
    display: block;
    content: "";
    width: 232.5px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://i.jobkorea.kr/content/images/corporate/onepick/onepick_content_codi.png");
} */
        /* 기업 후기 */
.recruit-section .onepick-account-review {
    position: relative;
    margin-top: auto;
}
.recruit-section .onepick-account-review>h3 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #222;
}
.recruit-section .onepick-account-review>h3 .title-ico:first-child {
    z-index: 3;
}
.recruit-section .onepick-account-review>h3 .title-ico {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
}
.recruit-section .onepick-account-review>h3 .title-ico>img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.recruit-section .onepick-account-review>h3 .title-ico:nth-child(2) {
    margin-left: -10px;
    z-index: 2;
}
.recruit-section .onepick-account-review>h3 .title-ico:nth-child(3) {
    margin-left: -10px;
    margin-right: 12px;
    z-index: 1;
}
.recruit-section .onepick-account-review .onepick-account-swiper {
    position: relative;
    width: 100%;
    height: 192px;
    overflow: hidden;
    margin-top: 12px;
    overflow: visible;
}
.recruit-section .onepick-account-review .onepick-account-swiper:before {
    content: "";
    position: absolute;
    top: 0;
    left: -32px;
    width: 32px;
    height: 100%;
    background: #fff;
    z-index: 3;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    /* box-sizing: content-box; */
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.recruit-section .onepick-account-review .onepick-account-swiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 12px;
    padding: 36px 32px;
    background-color: #f0f6f1;
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;

    width: 341.5px;
    margin-right: 16px;
}
.recruit-section .onepick-account-review .onepick-account-swiper .swiper-wrapper .swiper-slide>p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 66px;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    color: #222;
}
.recruit-section .onepick-account-review .onepick-account-swiper .swiper-wrapper .swiper-slide>p>.txt-b {
    color: #006e3f;
}
.recruit-section .onepick-account-review .onepick-account-swiper .swiper-wrapper .swiper-slide .company {
    color: #6a6a6a;
    line-height: 23px;
}
.recruit-section .onepick-account-review .swiper-button-area {
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}
.recruit-section .onepick-account-review .swiper-button-area .swiper-button-prev.swiper-button-disabled {
    transform: rotate(0deg);
}
.recruit-section .onepick-account-review .swiper-button-area .swiper-button-next.swiper-button-disabled, .recruit-section .onepick-account-review .swiper-button-area .swiper-button-prev.swiper-button-disabled {
    background-image: url("/images/corporate/swiper-button-disabled.svg");
}
.recruit-section .onepick-account-review .swiper-button-area .swiper-button-prev {
    transform: rotate(180deg);
}
.recruit-section .onepick-account-review .swiper-button-area .swiper-button-next.swiper-button-disabled {
    transform: rotate(180deg);
}
.recruit-section .onepick-account-review .swiper-button-area .swiper-button-next, .recruit-section .onepick-account-review .swiper-button-area .swiper-button-prev {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    margin: unset;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/corporate/swiper-button-prev.svg");
    opacity: 1;
    user-select: none;

    z-index: 10;
    cursor: pointer;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.common-modal.service-modal.active {
    display: block;
}
